@media print {
	* {
		color: #000;
		border: none;
		border-bottom: none;
		text-decoration: none;
		font-size: 12pt;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #000;
		margin-bottom: 0.25rem;
	}
	.nav-wrapper,
	.links a,
	button,
	img,
	nav {
		display: none;
	}
	a {
		color: #000;
	}
}
